<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students Attendance System</title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #fff; /* White background */
      color: #000; /* Black text color */
      background-image: url('/assets/images/school_image.jpg'); /* Replace 'your-image-url.jpg' with the URL of your image */
      background-size: cover; /* Cover the entire background */
      background-position: center; /* Center the background image */
    }

    header {
      background-color: hsl(315, 90%, 39%); /* Green color */
      color: white;
      text-align: center;
      padding: 1em;
      font-size: 1.5em;
    }

    nav {
      display: flex;
      justify-content: space-around;
      background-color: #630433; /* Dark green color */
      padding: 0.5em;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
    }

    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease-in-out;
    }

    nav a:hover {
      color: #ffd54f; /* Yellow color on hover */
    }

    main {
      padding: 20px;
      background-color: #ffffff; /* White color for the card */
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
      margin: 20px;
    }

    h2 {
      color: hsl(315, 90%, 39%); /* Green color for headings */
    }

    footer {
      text-align: center;
      padding: 1em;
      background-color: hsl(315, 90%, 39%); /* Green color */
      color: white;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    
  </style>
</head>
<body>
  <header>
    Students Attendance System
  </header>

  <nav>
    <a href="http://137.117.12.230:8080/auth/student/signup">Student Signup</a>
    <a href="http://137.117.12.230:8080/auth/student/login">Student Login</a>

    <!-- Lecturer Links -->
    <a href="http://137.117.12.230:8080/auth/lecturer/signup">Lecturer Signup</a>
    <a href="http://137.117.12.230:8080/auth/lecturer/login">Lecturer Login</a>
  </nav>

  <main>
    <h2>Welcome to the Students Attendance System</h2>
    <p>
      Welcome attendance platform, ensure you take your attendance before leaving the class
    </p> 
  </main>

  <footer>
    &copy; 2024 Students Attendance System
  </footer>
</body>
</html>
